html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6em;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: inherit;
  color: inherit;
}
